<div class="bg-slate-50 p-10 h-[100vh]">
    <div class="flex flex-col mt-[-2.2em] gap-2">
        <div>
            <h2 class="font-bold  text-lg cursor-pointer" (click)="goToHomePage()" ><span class="text-blue-500" >O</span>ctorly</h2>
        </div>
        <div>
            <h3 class="font-medium ">Main Menu</h3>
        </div>
        <div>
            <h3 class="font-medium ">Overview</h3>
        </div>
        <div>
            <h3 class="font-bold text-blue-700">Appointment</h3>
        </div>
        <div>
            <h3 class="font-medium ">Payment</h3>
        </div>
        <div>
            <h3 class="w-[140%] font-medium ">Help and settings</h3>
        </div>
        <div>
            <h3 class="font-medium ">Settings</h3>
        </div>
        <div>
            <h3 class="font-medium ">Report</h3>
        </div>
        <div>
            <button class="font-medium  ">Logout</button>
        </div>
    </div>
</div>