<div  class="bg-blue-100">
    <div class=" w-[100%]">
        <div id="nav" class="flex  p-2 text-lg">
            <div class="ml-28">
                <h2 class="font-bold tetx text-2xl cursor-pointer" (click)="goToHomePage()" ><span class="text-blue-500">O</span>ctorly</h2>
            </div>
            <div class="flex ">
                <div id="nav-links" class="flex list-none mr-4 text-base font-semibold">
                    <li class="pl-2 hover:text-gray-700 hover:border-b-2 hover:text-[1.2em]"><a routerLink="">Home</a></li>
                    <li class="pl-2"><a routerLink="/service">Services</a></li>
                    <li class="pl-2"><a routerLink="/about">About</a></li>
                    <div class="pl-2">
                        <li><a routerLink="/register">Register</a></li>
                    </div>

                </div>

            </div>


        </div>
    </div>
</div>